.circle-button {
  border: 1px solid #FFFFFF;
  border-radius: 100%;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  
  &:hover {
    background-color: #D58C51;
  }
}