.BasketButton {
  border: 1px solid #D58C51;
  background-color:#D58C51;
  border-radius: 100%;
  width: 45px;
  height: 45px;
  margin-left: 20px;

  &:hover {
    width: 50px;
    height: 50px;
  }
}