.field {
  position: relative;
  display: flex;
  justify-content: center;
  height: 100hv;

  &__border {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 360px;
    height: 300px;
    border-width: 0px;
    background-color: #FFFFFF;
  }

  &__border__regis {
    width: 330px;
    display: flex;
    justify-content: flex-end;
    font-weight: 300;
    font-size: 11px;
    line-height: 13px;
  }

  &__border__a {
    color: #D58C51
  }

  &__border__line {
    width: 320px;
    height: 30px;
    border-radius: 20px;
    border-width: 1px;
    border-color: #D58C51;
    font-weight: 400;
  }

  &__border__text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 28px;
    line-height: 38px;
  }
  &__border__area-first {
    padding-bottom: 15px;
  }
  &__border__area-second {
    padding-bottom: 5px;
  }

  &__border__check {
    width: 320px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  &__border__checkbox {
    border: 1px solid #D58C51;
  }

  &__border__checkbox-text {
    font-weight: 300;
    font-size: 11px;
    line-height: 13px;
  }

  &__border__but {
    display: flex;
    height: 80px;
    align-items: center;
  }
}

