.product-card {
  display: flex;
  flex-direction: column;
  border: 1px solid #D58C51;
  height: 100%;
  width: 100%;

  padding: 40px 20px 20px;
  box-sizing: border-box;
  color:#FFFFFF;
  text-align: left;
  text-decoration: none;

  &:hover {
    color: #D58C51;
  }

  &__image{
    height: auto;
    width: 100%;
    margin-bottom: 32px;
  }

  &__title {
    display: block;
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;

    margin-bottom: 12px;
  }

  &__text-w-a {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    margin-left: 5px;
  }

  &__price {
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
    margin-right: 5px;
  }

  &__price-block {
    margin-top: auto;
    display: flex;
    align-items: center;
    padding-top: 20px;
  }

  &__button {
    margin-left: auto;
    margin-right: 10px;
  }
}