.header {
  display: flex;
  padding: 20px 70px 0;
}

.header__basket {
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 21px;
  text-align: right;
  color: #FFFFFF;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.header__button {
  display: flex;
  justify-content: flex-end;
  padding: 5px 0 0 30px;
  text-decoration: none;
}

.main__title {
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;

  color: #D58C51;
  padding-right: 180px;
}

.main__image {
  width: 50%;
  height: auto;
}

.main__content {
  display: flex;
  flex-direction: column;
}

.main__text {
  display: flex;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;

  color: #FFFFFF;
  padding-right: 110px;
}

.main__price {
  font-style: normal;
  font-weight: 500;
  font-size: 23px;
  line-height: 28px;

  color: #FFFFFF;
}

.main__weight {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;

  color: #FFFFFF;
}

.main__button {
  width: 180px;
  height: 42px;
  background-color: #D58C51;
  margin-left: 68px;
}


.main {
  color: #FFFFFF;
  display: flex;
  align-items: center;
  padding-top: 100px;

    & > div {
      width: 50%;
      display: flex;
      justify-content: center;
    }
}

.footer {
  padding-top: 15px;
}