html {
  height: 100%;
}

.header {
  display: flex;
  align-items: center;

  &__title_basket {
    width: 100%;
    font-weight: 700;
    font-size: 30px;
    line-height: 38px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-left: 100px;
  }

  &__logout {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    text-decoration: none;
  }
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: 35px 50px 25px 225px;

  &__content {
    display: flex;
    align-items: center;
    width: 100%;
  }

  &__content_image {
    display: flex;
    width: 12%;
    margin-right: 100px;
    margin-bottom: 15px;
  }

  &__content_title {
    font-style: normal;
    width: 264px;
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
    color: #FFFFFF;
    margin-right: 400px;
  }

  &__content_price {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #D58C51;
    margin-right: 25px;
  }
}

.footer {
  position: static;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 35px 50px 25px 225px;

  &__image {
    color: #D58C51;
  }

  &__text {
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 50%;
  }

  &__price {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #D58C51;
    width: 25%;
  }

  &__button {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-right: 200px;
  }
}