.product-page {
  height: 100%;
  width: 100%;
}

.product-list {
  &-container {
    display: flex;
    flex-wrap: wrap;
    padding: 70px;

    row-gap: 35px;
    column-gap: 20px;
  }

  &-item {
    flex: 0 1 23,5%;
    width: calc(25% - 20px);
  }
}

.header {
  display: flex;
  padding: 20px 70px 0;

    &__title {
      display: flex;
      font-style: normal;
      font-weight: 700;
      font-size: 35px;
      line-height: 38px;

      text-transform: uppercase;
      color: #FFFFFF;
    };

    &__cart {
      font-style: normal;
      font-weight: 500;
      font-size: 17px;
      line-height: 21px;
      text-align: right;

      color: #FFFFFF;
      margin-left: auto;
      a {
        text-decoration: none;
        color: #FFFFFF;
      }
    }

    &__button {
      display: flex;
      padding: 5px 0 0 30px;
      text-decoration: none;
    }
}