.B-button {
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 100%;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    color: white;
  }
}